.idea

node_modules/
.pnp/
.pnp.js

build/
dist/
out/

.env
.env.*
!.env.example
!.env.sample

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids/
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.cache/
.parcel-cache/
.next/
.eslintcache

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

*.tsbuildinfo

tmp/
temp/